div.row.m-t-sm
    div.col-md-12
        div.card
            div.card-header
                h4((click)="toggleTable()") Disability History
                    i.material-icons.clickable.toggleTable([textContent]="tableHidden ? 'keyboard_arrow_up' : 'keyboard_arrow_down'")
            div.card-body
                div([hidden]="tableHidden")
                    em.no-results([hidden]="!noHistory") There are no disability records for {{client.firstName + ' ' + client.lastName}}
                    table.table.table-striped([hidden]="noHistory")
                        thead
                            tr
                                th Incident Date
                                th Disability Type
                                th Disability Response
                                th Collection Stage
                                th Date Created
                                th Date Updated
                        tbody
                            tr(*ngFor="let record of data")
                                td {{record.InformationDate}}
                                td {{disabilityTypes[record.DisabilityType]}}
                                td {{disabilityResponse[record.DisabilityResponse]}}
                                td {{dataCollectionStage[record.DataCollectionStage]}}
                                td {{record.DateCreated}}
                                td {{record.DateUpdated}}
