div.container([hidden]="loading")
    div.row
        div.col-md-12.m-t-sm
            h1 Client Details
            h2 {{client.firstName}} {{client.middleName}} {{client.lastName}}
    div.row.m-t-sm
        div.col-md-2
            div.userPhoto

        div.userInformation.col-md-10
            div.row
                div.col-md-2
                    label SSN:
                    label Date of Birth:
                    label Date Created:
                    label Date Modified:
                div.col-md-10
                    span {{client.ssn}}
                    span {{client.dob}}
                    span {{client.dateCreated}}
                    span {{client.dateUpdated}}

    disabilities([data]="disabilityInfo")
