div.container([hidden]="loading")
    div.row
        div.col-md-12.m-t-sm
            h1 Client Details
            h2 {{client.firstName}} {{client.middleName}} {{client.lastName}}
    div.row.m-t-sm
        div.col-md-2
            div.userPhoto

        div.userInformation.col-md-10
            div.row
                div.col-md-2
                    label SSN:
                    label Date of Birth:
                    label Date Created:
                    label Date Modified:
                div.col-md-10
                    span {{client.ssn ? client.ssn : 'NO DATA'}}
                    span {{client.dob ? client.dob : 'NO DATA'}}
                    span {{client.dateCreated ? client.dateCreated : 'NO DATA'}}
                    span {{client.dateUpdated ? client.dateUpdated : 'NO DATA'}}

    disabilities([data]="disabilityInfo", [client]="client")
