div.container
    div.row
        div#userList.card
            div.card-header
                h2 Client Listing
            div.card-body
                table.table.table-striped
                    thead
                        tr
                            th User ID
                            th Name
                            th SSN
                            th Date Updated
                            th Date Created
                    tbody
                        tr([hidden]="!_loading")
                            td(colspan=5 style="text-align: center;") Loading, please wait
                        tr.clickable(*ngFor="let client of data", [routerLink]="['/user', client.uuid]", [hidden]="data.length < 1")
                            td {{client.uuid}}
                            td {{client.firstName}} {{client.lastName}}
                            td {{client.ssn}}
                            td {{client.dateCreated}}
                            td {{client.dateUpdated}}
