div#phApp
    div.container-fluid
        div.row
            nav.navbar.navbar-full.navbar-dark.bg-inverse
                a.navbar-brand(href="#") People Helper
                a.navbar-link([routerLink]="['/map']") Map
        router-outlet