div#phApp
    div.container-fluid
        div.row
            nav.navbar.navbar-full.navbar-dark.bg-inverse
                a.navbar-brand([routerLink]="['/']") Helping Hands
                a.navbar-link([routerLink]="['/']") Clients
                a.navbar-link([routerLink]="['/map']") Map
router-outlet